{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %} ">
    <title>practice</title>
</head>
<body>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><a href="/">TypingPractice</a></div>
            <ul>
                <li><a href="/LeaderBoard">Leaderboard</a></li>
                <li><a href="/Practice">Practice</a></li>
                <button class="btn"><a href="#">SignIn</a></button>
                <button class="btn"><a href="#">SignUp</a></button>
            </ul>
        </div>
    </nav>
</body>
</html>